* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* home */

.home {
  text-align: center;
  width: 100%;
  overflow-y: auto;
}

header {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 70px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 3px;
}

.card {
  margin-left: 70px;
  width: 350px;
  height: 220px;
  border: none;
  border-radius: 5px;
  float: left;
  gap: 10px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  margin-bottom: 50px;
}

.card:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 20px 2px rgba(0, 0, 0, 0.19);
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.cardContainer {
  position: absolute;
  top: 100px;
}

.card ul {
  position: relative;
  top: 10px;
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.card .btn {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: rgb(56, 56, 56);
  color: white;
  cursor: pointer;
}

.cardContainer {
  margin: 0 auto 0 auto;
}

.header {
  height: 60px;
  text-align: left;
  cursor: default;
}

.header li {
  padding: 3px;
}

.footer {
  position: absolute;
  left: 0px;
  bottom: -130px;
  width: 350px;
  height: 40px;
  background-color: rgb(201, 201, 201);
  opacity: 0.5;
  color: black;
  border-radius: 0 0 3px 3px;
  text-align: left;
  cursor: default;
}

.footer li {
  margin-top: 5px;
  padding-left: 10px;
}

.drop {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: rgb(56, 56, 56);
  color: white;
  cursor: pointer;
}

/* home */
